body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*App Component*/

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: .5em;
}

.container {
  width: 100%;
}

/*ListPolls Component*/

.poll-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  outline: 2px solid green;
}

.filter-polls-selected {
  width: 50%;
  height: 3em;
  background: #F1EFF0;
  color: green;
  font-weight: bold;
  cursor: pointer;
}

.filter-polls-not-selected {
  width: 50%;
  height: 3em;
  background: transparent;
  color: #808080;
  font-weight: bold;
  cursor: pointer;
}

.polls {
  min-width: 100%;
  list-style-type: none;
  padding-left: 0;
}

/*Poll Component*/

.poll {
  outline: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.author {
  width: 100%;
  font-size: 80%;
  margin: 0;
  padding: 1em 0 1em .5em;
  border-bottom: 1px solid #DDDDDD;
  background-color: #EEEEEE;
}

.image {
  width: 15%;
  padding: .5em;
}

.avatar {
  max-width: 100%;
  border-radius: 50%;
}

.question-detail {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: .5em 0;
  border-left: 1px solid gray;
  padding-left: 10px;
}

.question {
  width: 100%;
  font-size: 80%;
  font-weight: bold;
}

.options {
  width: 100%;
  font-size: 65%;
  margin-bottom: 1em;
}

.viewPoll {
  width: 90%;
}

/*AnswerPoll Component*/

.answer-poll, .show-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #ECECEC;
}

@media screen and (min-width: 700px) {
  .answer-poll, .show-results {
    width: 70%;
  }
}

@media screen and (min-width: 1000px) {
  .answer-poll, .show-results {
    width: 700px;
    margin: 0 auto;
  }
}

.detail-image {
  width: 25%;
  display: flex;
  justify-content: center;
}

.detail-avatar {
  height: 6em;
  border-radius: 50%;
}

.detail-question-detail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  margin: .5em 0;
  border-left: 1px solid gray;
  padding-left: .65em;
}

.question-form {
  width: 100%;
}

.radios {
  width: 100%;
  margin-bottom: 1em;
}

.radio {
  margin-right: 1em
}

.submit-poll {
  width: 100%;
  height: 25px;
  background: #34987C;
  color: #fff;
  font-weight: bold;
  border-radius: 3.5px;
}

.header {
  width: 100%;
}

.option {
  position: relative;
  z-index: 1;
  width: 100%;
  border: 1px solid #CDE0DD;
  padding-left: .5em;
  margin-bottom: 1em;
}

.vote {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1000;
  margin-right: 0;
  margin-left: 70%;
  background: #DDBA3F;
  color: #fff;
  border-radius: 50%;
}

.option-text {
  font-size: 95%;
}

.percentage {
  /*todo*/
}

.votes {
  font-weight: bold;
  text-align: center;
}

/*CreatePoll component*/

.create-poll {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  border: 1px solid #ECECEC;
}

.create {
  padding-top: 1em;
  margin: 0;
}

.divider {
  width: 100%;
  border: 1px solid #ECECEC;
}

.complete {
  width: 100%;
  padding-left: .5em;
  font-size: 85%;
  font-weight: bold;
}

.complete:first-of-type {
  margin-bottom: .5em;
}

.enter-poll {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: .5em;
}

.input, .space {
  width: 95%;
}

.space {
  text-align: center;
}

.submit-new-poll {
  width: 97%;
  height: 25px;
  margin-top: .5em;
  background: #34987C;
  color: #fff;
  font-weight: bold;
  border-radius: 3.5px;
}

/*ListUsers component*/

.leader-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.user-list {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
}

.user-list-item {
  margin-bottom: 1em;
}

/*User component*/

.user {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #DDDDDD;
}

.user-detail-image {
  width: 25%;
  display: flex;
  justify-content: center;
}

.user-avatar {
  height: 5em;
  border-radius: 50%;
}

.user-question-detail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 40%;
  margin: .5em 0;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  padding-left: .65em;
  padding-right: 1em;
}

.user-name {
  width: 100%;
  margin: 0;
}

.answered-created {
  width: 100%;
}

.answered-created:first-of-type {
  margin-bottom: 0;
}

.right {
  float: right;
}

.score {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: .5em;
  margin-right: .5em;
  width: 20%;
  border: 1px solid #DDDDDD;
}

.score-header {
  width: 100%;
  text-align: center;
  font-size: 80%;
  margin: 0;
  padding: 1em 0;
  border-bottom: 1px solid #DDDDDD;
}
